.c-footer {
	background-color: #FFF;

	a {
		text-decoration: none;
		color: #999999;
		p {
			color: #999999;
		}

		&:hover {
			text-decoration: underline;
		}
	}
	.overlay-right-sidebar_content a:hover {
			text-decoration: none;
	}

	@media (max-width: 839px) {
		text-align: center;

		.o-layout__item {
			margin-bottom: 32px;
		}
	}

	@media (min-width: 600px) {
		margin-left: 90px;
	}

	
	padding-top: 70px !important;
	padding: 20px;
	p {
		font-size: 14px;
		line-height: 8px;
		color: #999999;
	}
	h3{
		color: #999999;
		font-size: 14px;
	}
	svg:hover {
    	opacity: 0.5;
	}

	.c-form {
		margin-bottom: 0;
	}
	// .c-copyright {
	// 	text-align: center;
	// 	margin-top: 24px;

	// 	@media (min-width: 840px) {
	// 		float: right;
	// 		top: 0;
	// 		position: absolute;
	// 		margin-top: 0;
	// 	}
	// }
	 .c-copyright {
	 	margin-top: 48px;
	 	color: #999999;
	 }

	.overlay-right-sidebar_content {
		filter: invert(1);
		display: block;
		a {
			padding: 10px;
		}
	}




}