/*=============================================
=           Header banner			          =
=============================================*/

header {
	margin-bottom: 100px;
	@media (max-width: 768px) {
		margin-bottom: 50px;
	}

}
.c-banner {
	@media (max-width: 600px) {
		margin-top: 60px;
	}


	// Leaving space for sidebar
	@media (min-width: 600px) {
		margin-left: 45px;
	}
	// Home header
	&.-home {
		padding: 50px;
		@media (max-width: 768px) {
			padding: 25px;
		}
		
    // .c-video {
    //     position: relative;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 55vw;
    //     overflow: hidden;
    //     display: flex;
    //     //background: #000;
    //     iframe {
    //         width: 100%;
    //         position: absolute;
    //         top: 50%;
    //         left: 50%;
    //         transform: translate(-50%, -50%);
    //         z-index: 1;
    //     }    
    // }




	}
	// General header
	&.-page {
		
		background-size: cover !important;
		background-position: center !important;
		height: 625px;
		position: relative;

		@media (max-width: 767px) {
			height: 425px;
		}



	}


}



.c-banner-title {

	@media (max-width: 768px) {
		width: 100%;
    	height: 0;
    	min-height: 120px;
	}
	min-height: 222px;



    .c-banner-title_content {
   		
		padding: 25px 0;
		@media (min-width: 768px) {
			line-height: 100px;
			padding: 50px 0;
		}
    }


    .c-banner-text_content-test {

    }

   
}


.c-banner-container {
	
	@media (min-width: 600px) {
		margin-left: 90px;
	}
}