/*=============================================
=          Mobile header transformation      =
=============================================*/
.overlay-sidebar {
	@media (max-width: 600px) {
		height: 60px !important;
		width: 100% !important;
    -webkit-box-shadow: 0px 20px 20px -12px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 20px 20px -12px rgba(0, 0, 0, 0.5);
		.sidebar-content {
			top: 0 !important;
			width: 100%;
		}
		.sidebar-content ul {
			display: inline-flex !important;
			width: 100%;
		}
		.c-header-logo {
			width: 75%;
			left: -10px;
		    position: absolute;
		    width: 100px;
		    height: 75px;
		    top: -5px;

		    img {
		    	height: 45px;
		    }

		}
		.menu-icon {
			float: right;
			right: 0;
			position: fixed;
		}

		.language-switcher {
			position: absolute;
	    margin-left: 150px;
	    top: 7px;
      right: 89px;
		}
	}
}
/*=============================================
=             Overlay left sidebar          =
=============================================*/
.overlay-sidebar {
	width: 90px;
    text-align: center;
    left: 0;
    background-color: #FFF !important;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;


    .sidebar-content {
    	top: 10%;
    	position: absolute;
    	margin-left: 10px;
    	ul {
		    margin-left: 0;
		    list-style: none;
		    display: inline-block;
    	}
    	ul li:first-child {
    		margin-bottom: 260px;
    	}
    	ul li {
    		margin-bottom: 160px;
    	}

    	.language-switcher p {
    		color: #000;
    		font-size: 16px;
    	}

    }

    .hamburger {
    	outline: none;
    }

     .c-header-logo, .language-switcher {
    	 	transition: margin linear 200ms;
    	 }

    &.-active{  
    	@media (min-width: 600px) {
    	 .language-switcher {
    	 	margin-left: -200px;
    	 	transition: margin linear 200ms;
    	 }
    	 }
    }
}


/*=============================================
=            Fullscreen Overlay              =
=============================================*/
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 99999999999; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  background-color: $LightGray;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  // Remove overflow
  margin: 0;
  height: 100%;
  overflow: hidden;

}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  //top: 35%; 
  top: 25vh;
  width: 100%; 
  text-align: left; 
  margin-top: 30px;
  left: 20%;

  .c-main-menu_ul {
    width: fit-content;
  }
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  color: #AEAEAE;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */

  &.-home {
  	font-style: italic;
    font-size: 28px;
  }
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
  color: #000;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 50%;
  left: 22px;
  font-size: 60px;
}

/* When the height of the screen is less than 600 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media (max-width: 600px) {
  .overlay a {font-size: 30px}
  .overlay .closebtn {
	 font-size: 40px;
    top: 10px;
    right: 35px;
    left: auto;
    padding: 0;
  }
  .overlay-content {
  	top: 0;
  	left: 0;
  	margin-top: 60px;
    margin-left: 24px;
    right: 0;
  }
}
@media (max-width: 420px) {
  .overlay-content {
    margin-left: 12px;
  }
}


/*=============================================
=          Overlay right sidebar              =
=============================================*/
/* Position the content inside the overlay */
.overlay-right-sidebar {
		@media (max-width: 600px) {
		display: none;
	}

	width: 130px;
    text-align: center;
    right: 0;
    background-color: #000 !important;
    height: 100%;
    position: absolute;
    z-index: 0;
    top: 0;

    p {
    	color: white;
    	font-size: 16px;
    	text-transform: uppercase;

    }

  svg:hover {
    opacity: 0.5;
  }
}

.overlay-right-sidebar_switcher {
	position: relative;
	top: 5%;

  a:hover {
    opacity: 0.5;
  }
}
.overlay-right-sidebar  {
  .overlay-right-sidebar_content {
    position: relative;
    top: 60vh;
    display: grid;
  }
}
