html {
	background-color: $LightGray;

	p {
	    line-height: 27px;
	    font-family: "Open Sans";
	    letter-spacing: 0;
	}
	    font-family: "Open Sans";
}




main {
	// Leaving space for sidebar
	@media (min-width: 600px) {
		margin-left: 90px;
	}
}




	// button {
	// 	border: 2px solid rgba(29, 29, 27, 0.77);
	//     background-color: transparent;
	//     padding: 10px;
	//     transition: background-color 0.25s ease-in-out;
	//     cursor: pointer;

	//      &:hover{
	//     	 background-color: rgba(29, 29, 27, 0.77);
	//     	 a { color: #D8D8D8; }
	// 	 }

	//     a {
	// 	    color: #1D1D1B;
	// 	    text-decoration: none;
	// 	    text-transform: uppercase;
	//     	font-family: "Karla";
	// 	    font-weight: 300;
	// 	    letter-spacing: 3px;
	// 	    font-size: 16px;
	// 	    line-height: 30px;
	//     }
	// }






		button {
			border: 2px solid rgba(29, 29, 27, 0.77);
	    	background-color: transparent;
			padding: 15px;
		    color: #1D1D1B;
		    text-transform: uppercase;
		    cursor: pointer;
		    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
			// Text
		    color: #1D1D1B;
		    text-decoration: none;
		    text-transform: uppercase;
	    	font-family: "Karla";
		    font-weight: 300;
		    letter-spacing: 3px;
		    font-size: 16px;

		     &:hover{
		    	 background-color: rgba(29, 29, 27, 0.77);
		    	 color: #FFF;
		    	  a { color: #D8D8D8; }
			 }
		}