{% set entries = craft.entries.section('menuMain').all() %}
{% set title = '' %}
{#  {% if entries|length %}   #} 

{# Header title and background image #} 
<div class='c-banner'>
    {% if entry is defined %}
    {% if type == 1 %}
        {% set title = entry.title|nl2br %}
        {% if entry.headerImage|length %}
        {% set image = entry.headerImage.one.url() %}
         {% endif %}
    {% endif %}
    {% if type == 2 %}
    	{% set title = entry.title|nl2br %}
        {% set desc = entry.productText %}
        {% set image = '/assets/images/header-product-single.jpg' %}
    {% endif %}
    {% if type == 3 %}
        {% set title = entry.title|nl2br %}
        {% set desc = entry.jobLongDescription %}
        {% set image = '/assets/images/header-career-single.jpg' %}
    {% endif %}



        <div class='c-banner -page' style='background-image: url("{{image}}");'></div>


    {% endif %}

    <div class="c-banner-container">
        <div class="o-wrapper">
            <div class='o-wrapper_header'>
            

             <div class='c-banner-title'> 
                <h1 class='c-banner-title_content'>{{title}}</h1>  


                
              </div>
               {% if type == 2 or type == 3 %}
               <div class="c-banner-text_content-test">
                    <p class='c-banner-text_content'>{{desc}} </p> 
                    
                </div>
                {% endif %}


            </div>
        </div>
    </div>

</div>



