{# Header title and background image #} 

<div class='c-banner'>
    <div class="c-banner -home">
        <section class="c-video o-ratio o-ratio--16:9">
            <iframe src="https://player.vimeo.com/video/363904137?background=1&autoplay=1&loop=1&byline=0&title=0&muted=1"
                        frameborder="0" allow=autoplay></iframe>                                            
        </section>
   </div>
</div1