{# ASIGNATION #}
{% set menu = craft.entries.section('menuMain').level(1).all() %}

 {# Main menu #}

<!-- The overlay -->
<div id="myNav" class="overlay">

	  <div class="overlay-sidebar">
  	<div class="sidebar-content">
		<ul class="sidebar-content-list">

	 <li class="c-header-logo"><a href="{{siteUrl}}"><img src="{{ craft.app.sites.primarySite.baseUrl }}/assets/images/russet-logo.svg" alt="Maison Russet"> </a></li>
  	  <li class="menu-icon">        
  	   	<button class="hamburger hamburger--spin icon" type="button" onclick="toggleNav()">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
       </button>
		</li>
  	   <li class="language-switcher">
	   	{% set currentSite = craft.app.sites.currentSite %}
        {% for siteInGroup in currentSite.getGroup.getSites() %}
            {% if siteInGroup.id != entry.siteId %}
                {% set entryForOtherSite = craft.entries.id(entry.id).site(siteInGroup).one() %}
                <a href="{{ entryForOtherSite.getUrl() }}">{% if craft.locale == "fr-CA" %}<p>EN</p>{% else %}<p>FR</p>{% endif %}</a>
            {% endif %}
        {% endfor %}
  	   </li>
			
		</ul>

  		
  	</div>
  </div>


  <!-- Button to close the overlay navigation -->
{#   <div class="overlay-sidebar">
  	  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  </div>
 #}

  <!-- Overlay content -->
  <div class="overlay-content">
{#   	 <a class="-home" href="{{siteUrl}}">/ {{'Home'|t}} </a>
  	  #}
     <br>
    <ul class='o-list-bare c-main-menu_ul'>
        {% for page in menu %}
        <a target="{{page.menuLink.target}}" href="{{page.menuLink.getUrl()}}"> {{page.title}} </a></li>

        {% endfor %}

    </ul>
  </div>

  <div class="overlay-right-sidebar o-wrapper">
  	<div class="overlay-right-sidebar_switcher">
	  {# 	<p> {{'Change language'|t}} </p>
	  	<hr> #}
        {% set currentSite = craft.app.sites.currentSite %}
        {% for siteInGroup in currentSite.getGroup.getSites() %}
            {% if siteInGroup.id != entry.siteId %}
                {% set entryForOtherSite = craft.entries.id(entry.id).site(siteInGroup).one() %}
                <a href="{{ entryForOtherSite.getUrl() }}">{% if craft.locale == "fr-CA" %}<p>EN</p>{% else %}<p>FR</p>{% endif %}</a>
            {% endif %}
        {% endfor %}
	</div>
  	<div class="overlay-right-sidebar_content">


	  	<a target="_blank" href="{{info.facebookLink}}">
		  	<svg width="10px" height="18px" viewBox="0 0 10 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		    <!-- Generator: Sketch 55.2 (78181) - https://sketchapp.com -->
		    <title>facebook-logo (3) copy 2</title>
		    <desc>Created with Sketch.</desc>
		    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
		        <g id="MENU" transform="translate(-1372.000000, -614.000000)" fill="#FFFFFF" fill-rule="nonzero">
		            <g id="facebook-logo-(3)-copy-2" transform="translate(1372.000000, 614.000000)">
		                <path d="M9.07272453,0.0035628866 L6.81491321,0 C4.27833962,0 2.63909434,1.6540701 2.63909434,4.21418227 L2.63909434,6.15720247 L0.368966038,6.15720247 C0.1728,6.15720247 0.0139471698,6.3136132 0.0139471698,6.50654351 L0.0139471698,9.32175835 C0.0139471698,9.51468866 0.172981132,9.67092124 0.368966038,9.67092124 L2.63909434,9.67092124 L2.63909434,16.7746045 C2.63909434,16.9675348 2.79794717,17.1237674 2.99411321,17.1237674 L5.95598491,17.1237674 C6.15215094,17.1237674 6.31100377,16.9673567 6.31100377,16.7746045 L6.31100377,9.67092124 L8.96531321,9.67092124 C9.16147925,9.67092124 9.32033208,9.51468866 9.32033208,9.32175835 L9.32141887,6.50654351 C9.32141887,6.41390845 9.28392453,6.32519258 9.21744906,6.25963546 C9.15097358,6.19407835 9.06040755,6.15720247 8.96621887,6.15720247 L6.31100377,6.15720247 L6.31100377,4.51008 C6.31100377,3.7184066 6.50282264,3.31651299 7.55139623,3.31651299 L9.07236226,3.31597856 C9.26834717,3.31597856 9.4272,3.15956784 9.4272,2.96681567 L9.4272,0.352725773 C9.4272,0.160151753 9.2685283,0.00391917526 9.07272453,0.0035628866 Z" id="Shape"></path>
		            </g>
		        </g>
		    </g>
			</svg>
	  	</a>

		<a target="_blank" href="{{info.instagramLink}}">
		  	<svg width="19px" height="19px" viewBox="0 0 19 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		    <!-- Generator: Sketch 55.2 (78181) - https://sketchapp.com -->
		    <title>instagram (4) copy</title>
		    <desc>Created with Sketch.</desc>
		    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
		        <g id="MENU" transform="translate(-1367.000000, -659.000000)" fill="#FFFFFF" fill-rule="nonzero">
		            <g id="instagram-(4)-copy" transform="translate(1367.000000, 659.000000)">
		                <path d="M12.54,0 L5.7,0 C2.55246,0 0,2.55246 0,5.7 L0,12.54 C0,15.68754 2.55246,18.24 5.7,18.24 L12.54,18.24 C15.68754,18.24 18.24,15.68754 18.24,12.54 L18.24,5.7 C18.24,2.55246 15.68754,0 12.54,0 Z M16.53,12.54 C16.53,14.7402 14.7402,16.53 12.54,16.53 L5.7,16.53 C3.4998,16.53 1.71,14.7402 1.71,12.54 L1.71,5.7 C1.71,3.4998 3.4998,1.71 5.7,1.71 L12.54,1.71 C14.7402,1.71 16.53,3.4998 16.53,5.7 L16.53,12.54 Z" id="Shape"></path>
		                <path d="M9.12,4.56 C6.60174,4.56 4.56,6.60174 4.56,9.12 C4.56,11.63826 6.60174,13.68 9.12,13.68 C11.63826,13.68 13.68,11.63826 13.68,9.12 C13.68,6.60174 11.63826,4.56 9.12,4.56 Z M9.12,11.97 C7.54908,11.97 6.27,10.69092 6.27,9.12 C6.27,7.54794 7.54908,6.27 9.12,6.27 C10.69092,6.27 11.97,7.54794 11.97,9.12 C11.97,10.69092 10.69092,11.97 9.12,11.97 Z" id="Shape"></path>
		                <circle id="Oval" cx="14.022" cy="4.218" r="1"></circle>
		            </g>
		        </g>
		    </g>
			</svg>
		</a>


  	</div>
  	
  </div>


</div>


