/*=============================================
=               Accordion                     =
=============================================*/
.c-accordion-container {
    text-align: center;
    background-color: #FFF;
    padding: 125px;
    @include mg-btm();

     @media (max-width: 720px){
         padding: 65px 24px;
    }

    .c-accordion_title {
    }

    button {
        border: 2px solid gray;
        background-color: transparent;
        padding: 10px;
        margin-bottom: 24px;
        transition: background-color 0.25s ease-in-out;

         &:hover{
             background-color: rgba(0,0,0,0.9);
             a { color: #D8D8D8; }
         }

        a {
            color: black;
            text-decoration: none;
            text-transform: uppercase;
            font-family: "Open Sans";
            font-weight: 300;
            letter-spacing: 3px;
            font-size: 16px;
            //line-height: 30px;
        }
    }
    
}

.c-accordion {
    list-style-type: none;
    text-align: left;
    margin: 80px 0;

    li {
        
        h3 {
            text-transform: uppercase;
            font-size: 20px;
            letter-spacing: 1px;
            line-height: 28px;
            color: #000;
            max-width: calc(100% - 32px);
            //cursor: pointer; 

             @media (max-width: 500px){
                 width: 81%;
                 font-size: 18px;
            }

               
        }
        p {
            color: #000;
            letter-spacing: 1px;
            line-height: 30px;
        }

    }
    li:last-child p {
        margin-bottom: 0;
    }
}

.c-accordion_hide {
    //display: none;
}

.c-accordion_clickable {
    position: relative;
}

/* accordion row arrow */
.c-accordion_arrow {
    width: 28px;
    height: 28px;
    position: absolute;
    right: 24px;
    top: calc(5% + 6px);
    z-index: 99;


      @media (max-width: 840px){
        right: 0 !important;
     }

    i {
      border: solid black;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 5px;
      position: absolute;

    }

    .right {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }




}



/*=============================================
=            Plus minus button               =
=============================================*/

.button{
    position: relative;
    width: 17px;
    height: 17px;

    &:before,
    &:after{
        content: "";
        position: absolute;
        background-color: #000;
        transition: transform 0.25s ease-out;
    }

    /* Vertical line */
    &:before{
        top: 0;
        left: 50%;
        width: 3px;
        height: 100%;
        margin-left: -2px;
    }

    /* horizontal line */
    &:after{
        top: 50%;
        left: 0;
        width: 100%;
        height: 3px;
        margin-top: -2px;
    }
}
.active {
    .button {
        cursor: pointer;
        
        &:before{ transform: rotate(90deg); }
        &:after{ transform: rotate(180deg); }
    }
}