///* ========================================================================
//   #GLOBAL
//   ======================================================================== */

// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.



// Standardise some UI treatments.

$global-radius: 3px !default;
$global-transition: all 300ms ease-in-out !default;



// COLOR
$White: #FFFFFF; 
$Black: #000;
$LightGray: #F4F7F6;

// SPRITES



// FONTS FAMILY
$ftOpenSans: "Open Sans";

@font-face {
  font-family: 'Dantina';
  src: url('fonts/Dantina.ttf');

}


// MARGIN
$mg-desktop: 114px;   
$mg-1024: 64px;   
$mg-960: 52px;   
$mg-720: 36px;  
$mg-600: 24px; 
$mg-480: 18px;   
$mg-400: 14px;  
$mg-320: 10px; 




body {
    overflow-x: hidden;
}

@mixin section-padding {
    @media (min-width: 320px){
        padding: $mg-320;
    } 
    @media (min-width: 400px){
        padding: $mg-400;
    }
    @media (min-width: 480px){
        padding: $mg-480;
    }

    @media (min-width: 600px) {
        padding: $mg-600;
    }
    @media (min-width: 720px) {
        padding: $mg-720;
    }  
    @media (min-width: 960px) {
        padding: $mg-960;
    }  
    @media (min-width: 1024px) {
        padding: $mg-1024;
    }        
    @media (min-width: 1280px) {
        padding: 100px $mg-desktop;
    }
}




@mixin mg-btm {
    @media (min-width: 320px) and (max-width: 480px) {
        margin-bottom: 80px;
    }
    @media (min-width: 481px) and (max-width: 767px) {
        margin-bottom: 120px;
    }
    @media (min-width: 768px){
       margin-bottom: 160px;
    }

}    

// @mixin padd-btm {
//     padding-top: 100px;
// }    

// @mixin mg-btm-w-title {
//     margin-top: 84px;
// }    

// @mixin padd-btm-w-title {
//     padding-top: 84px;
// }    