/* ==========================================================================
   #WRAPPER
   ========================================================================== */

/**
 * Page-level constraining and wrapping elements.
 */

$inuit-wrapper-width: 1050px !default;

@if (type-of($inuit-wrapper-width) != number) {
  @error "`#{$inuit-wrapper-width}` needs to be a number.";
}

.o-wrapper {
    
  @include inuit-clearfix();
  padding-right: $inuit-global-spacing-unit;
  padding-left:  $inuit-global-spacing-unit;
  margin-right: auto;
  margin-left:  auto;
  max-width: $inuit-wrapper-width;

  &.-footer {
  	max-width: 1600px;
  	position: relative;				
  }

}


.o-wrapper_header {

	::after {
	    position: absolute;
	    content: "";
	    height: 100%;
	    width: 100vh;
	    background: $LightGray;
	    top: 0;
	    right: 100%;
	    
	}

	@media (min-width: 768px) {
		margin-top: -222px;
		padding-right: 88px;
		margin-right: auto;
		max-width: 675px;
		position: relative;
		background: $LightGray;
		@include inuit-clearfix();
	}
    
}






