
{% if type == 1 %}
{% if entry.block1Image is not null %}
     {% set image = entry.block1Image.one.url() %}
{% else %}
    {% set image = 'assets/images/product-placeholder.jpg' %}
 {% endif %}

	{% set title = entry.block1Title %}
	{% set body = entry.block1Text %}
{% elseif type == 2 %}
	{% set title = entry.block2Title %}
	{% set image = entry.block2Image.one.url() %}
	{% set body = entry.block2Text %}
{% elseif type == 3 %}
	{% set title = entry.block3Title %}
	{% set image = entry.block3Image.one.url() %}
	{% set body = entry.block3Text %}		
{% endif %}
{% if logo == 1 %}
	{% set icons = entry.imageList.all() %}
{% endif %}

{% if buttonText is not defined %} {% set buttonText = 'Learn more'|t %} {% endif %}
{% if link is not defined %} {% set link = '' %} {% endif %}

<div class="c-block_1">
	<div class="o-wrapper">
		<div class="c-block_1-image {% if type is divisible by(2) %} c-block_1-1-image {% endif %}" style="background: url('{{image}}')"></div>
	
	 	<div class="c-block_1-content {% if type is divisible by(2) %} c-block_1-1-content {% endif %}">
			<h2>{{title}}</h2>
			{{body}}

			{% if (button == 1) %}
				<a href="{{link}}"><button> {{buttonText}} </button></a> 
			{% endif %}

			{% if (logo == 1) %}
			<ul class="c-logo-list o-list-bare o-list-inline">
				{% for icon in icons %}
				
					<img class="" src="{{icon.url()}}" alt="">
				
				
				{% endfor %}
				
			</ul>
			{% endif %}

		</div>
	</div>
</div>



