{# /*=============================================
=            Prouct Slider & Text Block                 =
=============================================*/ #}
{% if type == 1 %}
    {% set list = craft.entries.section('productList').level(1).all() %}
{% elseif type == 2 %}
 {#    {% set entryList = craft.entries.section('productList').level(1).all() %} #}
    {% set list = entry.productVariety.all() %}
{% endif %}
   
{# {% set image = entry.block4Image.one.url() %} #}

{% if list|length %}


<div class='c-block_2 o-wrapper'>


    <div class="paginator {% if type == 1 %} -two {% endif %}  {% if type == 2 %} -three {% endif %}">
        <ul class="o-list-bare">
            <li class="prev"></li>
            <li class="next"></li>
            <li class="paging"><p class="pagingInfo"></p></li>
        </ul>
        
    </div>


    <ul class="c-team-list" > 
        {% for item in list %}
        {% if type == 1 %}
            {% if item.productImage.first() is not null %}
                 {% set picture = item.productImage.first().url() %}
            {% else %}
                {% set picture = 'assets/images/product-placeholder.jpg' %}
            {% endif %}
           
            {% set title = item.productTitle %}
            {% set text = item.productDescription%}
        {% elseif type == 2 %}
             {% if item.varietyImage.first() is not null %}
            {% set picture = item.varietyImage.first().url() %}
            {% else %}
                {% set picture = '/assets/images/product-placeholder.jpg' %}
            {% endif %}
           
            {% set title = item.varietyName %}
            {% set text = item.varietyText%}

        {% endif %}
            <li>

            <div class="c-team-list_picture" style='background-image: url("{{ picture }}");'></div>
                <div class="c-block_2_info -two u-1/2">
                <h2> {{title}} </h2>
                {{text}}

              
                {% if (button == 1) %}
                <a href="{{item.url()}}"><button> {{'Learn more'|t}} </button></a> 
                {% endif %}
             </div>



            </li> 
            {% endfor %}
    </ul>


</div>


{% endif %}