{# /*=============================================
=            Team Slider & Text Block                 =
=============================================*/ #}
{% if type == 1 %}
    {% set list = craft.entries.section('team').level(1).all() %}
    {% set title = entry.block4Title %}
    {% set body = entry.block4Text %}
{% endif %}
   
{# {% set image = entry.block4Image.one.url() %} #}



<div class='c-block_2 o-wrapper'>
    <div class="c-block_2_info u-1/2">
        <h2>{{title}}</h2>
        {{body}}
        {% if (button == 1) %}
       <a href=""><button> {{'Learn more'|t}} </button></a> 
        {% endif %}
     </div>

    <div class="paginator {% if type == 2 %} paginator_2 {% endif %}">
        <ul class="o-list-bare">
            <li class="prev"></li>
            <li class="next"></li>
            <li class="paging"><p class="pagingInfo"></p></li>
        </ul>

    </div>


    <ul class="c-team-list" > 
        {% for item in list %}
            {% set picture = item.memberPicture.first().url() %}
            {% set name = item.memberName %}
            {% set title = item.memberTitle %}
            {% set phone = item.memberPhone%}
            {% set email = item.memberEmail%}


            <li>

            <div class="c-team-list_picture" style='background-image: url("{{ picture }}");'></div>

            <div class='c-team-list_content o-wrapper'>
                <p class='c-team-list_name'>  {{name}}  </p>
                <p class='c-team-list_title'> {{title}} </p>
                <br>
                <p class='c-team-list_phone'> {{phone}} </p>
             
                <a href="mailto:{{email}}"><p class='c-team-list_email'> {{email}} </p></a>

            </div>

            </li> 
            {% endfor %}
    </ul>


</div>
