    {# Entries #}
    {% set list = craft.entries.section('careerList').level(1).all() %}

    {# Accordion #} 
    <div class="c-accordion-container o-wrapper" id="jobs">

        <h2 class="c-accordion_title">{{'Join our team'|t}}</h2>
       {#  <button class="c-accordion_button"><a href="{{item.url()}}">Postulez maintenant</a></button> #}
     

        <ul class="c-accordion">
             <hr>
            {% for item in list %}
          
            <li class="c-accordion_clickable">
                <div class="c-accordion_clickable"> 
                    <h3>{{item.title}}</h3>
                    
          
                <div class="c-accordion_arrow">
                    {# <a href="{{item.url()}}"><div class="button"></div></a> #}
                    <a class="item-link" href="{{item.url()}}"><i class="arrow right"></i></a>
                    
                </div>
                                  
                </div>

                <div class="c-accordion_hide">

                    <div class="c-content">
                      {{item.jobDescription}}
                      {# <button class="c-accordion_button"><a href="{{item.url()}}">{{'Apply now'|t}}</a></button> #}
                    </div>

                </div>

            </li>
              <hr>
            {% endfor %}
        </ul>

    </div>
