/*=============================================
=            	Block 1				          =
=============================================*/
.c-block_1 {

	.c-block_1-content {
		float: left;
		max-width: 675px;
		width: 100%;
		background-color: $LightGray;
		transform: translateY(-105px);
		padding: 50px;

		@media (max-width: 800px) {
			padding: 25px 0 !important;
		}
	}
	.c-block_1-image {
	    height: 530px;
	    max-width: 805px;
	    width: 100%;
	    background-position: center !important;
	    background-size: cover !important;
	    float: right;
	}
	.c-block_1-1-content {
		float: right;
		padding: 50px;
	}
	.c-block_1-1-image {
	    float: left;
	}


	.c-logo-list {
		padding-top: 20px;
		img {
			width: 20vw;
		    height: 20vw;
		    max-width: 110px;
		    max-height: 110px;
		}
	}
	
	




	
}

