/*=============================================
=            	Block 2			     	     =
=============================================*/
.c-block_2 {
	position: relative;
	@include mg-btm();

	.c-team-list {
		list-style-type: none;
		margin-left: 0;

		li {
			.c-team-list_picture {
				background-position: center;
				background-size: cover;
				max-width: 585px;
				width: 100%;
				height: 505px;
				position: relative;

				@media (max-width: 940px) {
					max-width: none;
				}
				@media (max-width: 668px) {
					height: 425px;
				}
				@media (max-width: 480px) {
					height: 325px;
				}
			}


			.c-team-list_content {
				padding: 24px;
				padding-top: 35px;

				@media (min-width: 768px) {
					margin: 0;
				    width: 50%;
				}

			    p {
			    	line-height: 5px;
			    }

				a {
					text-decoration: none;
					color: #000;
					p {
						color: #000;
					}

					&:hover {
						text-decoration: underline;
					}
				}

			    .c-team-list_title {
			    	text-transform: uppercase;
			    	color: #8E8E8E;
			    }
			    .c-team-list_name {
			    	font-weight: 600;
			    }
			    .c-team-list_phone,.c-team-list_email  {
			    	font-size: 12px;

			    }
			    .c-team-list_name, .c-team-list_title {
			    	font-size: 16px;
			    }
			}



		}
	}


	.c-block_2_info {
		background-color: #FFF;
	    padding: 80px;
	    position: absolute;
	    max-width: 566px;
	    width: 100%;
	    height: 100%;
	    max-height: 526px;
	    bottom: 0;
	    right: 0;
	    z-index: 99;
	    -webkit-box-shadow: 10px 14px 24px 0px rgba(180,180,180,1);
		-moz-box-shadow: 10px 14px 24px 0px rgba(180,180,180,1);
		box-shadow: 10px 14px 24px 0px rgba(180,180,180,1);
		min-height: 445px;

		@media (max-width: 940px) {
			position: relative;
			width: 100% !important;
			max-height: 100%;
			margin-bottom: 80px;
			padding: 40px;	
			max-width: none;
			min-height: 0;		
		}


		&.-two {

			position: relative;
			float: right;
			margin: -200px 32px 32px;

			@media (max-width: 940px) {
				-webkit-box-shadow: none;
				-moz-box-shadow: none;
				box-shadow: none;
			}

			@media (max-width: 940px) {
				margin: 0;
			}
			
		}


	}



}

/*=============================================
=            	Arrows              		 =
=============================================*/
.paginator{

&.-two {

	@media (min-width: 940px){
	position: absolute;
	top: 36%;
    left: -6%;
  }
}

 @media (min-width: 940px){
	position: absolute;
    top: 71%;
    bottom: 0;
    right: 50%;
    width: 64px;

    &.-three {
		top: 58%;
	    right: 53%;

	    ul {
		    width: 64px;
	        position: absolute;
	        bottom: 60px;
	    }


	}
  }


    ul{
        display: grid;

    }

    li{

    	&:hover {
    		filter: brightness(0.5);
    	};
        margin-top: 20px;
        margin-right: 20px;
        position: relative;
        float: left;
        width: 47px;
        height: 47px;


        &.prev{
          display: block;
          background: url('../images/arrow-left.svg') no-repeat;
          cursor: pointer;
       
         z-index: 99;
      	}

      	&.next{
          display: block;
          background: url('../images/arrow-right.svg') no-repeat;
          cursor: pointer;
         
          z-index: 99;
      	}

		&.paging {
			
		}
  }
}

/*=============================================
=            	Mobile Arrows              	 =
=============================================*/
.paginator{
    @media (max-width: 940px){
        position: relative;

        ul{
            display: inline-block;
            margin-left: 0 !important;
            margin-bottom: 0 !important;
            //max-width: 585px;
	   		width: 100%;
        }

        li{
            margin-top: 20px;
            margin-right: 20px;
            position: relative;
            float: left;
            width: 47px;
            height: 47px;

        &.prev{
              display: block;
              background: url('../images/arrow-left.svg') no-repeat;
              //background-size: 50%;
              cursor: pointer;
              float: left;
              margin-left: 24px;
              
          }

          &.next{
              display: block;
              background: url('../images/arrow-right.svg') no-repeat;
              //background-size: 50%;
              cursor: pointer;
              float: right;
              margin-left: 24px;
              
          }

          &.paging {
		    text-align: center;
		    width: 100%;
		    height: 0;
		    margin: 0;
		    padding: 0px;
		    margin-top: -36px;
          }

      }
    }
}

/*=============================================
=            	Mobile Arrows TWO            	 =
=============================================*/
.paginator.-two{
	@media (min-width: 940px){
		max-width: 580px;
	}
    @media (max-width: 1280px){
        position: relative;
        width: 100%;
    	left: 0;

        ul{
            display: inline-block;
            margin-left: 0 !important;
            margin-bottom: 0 !important;
            //max-width: 585px;
	   		width: 100%;
        }

        li{
            margin-top: 20px;
            margin-right: 20px;
            position: relative;
            float: left;
            width: 47px;
            height: 47px;

        &.prev{
              display: block;
              background: url('../images/arrow-left.svg') no-repeat;
              //background-size: 50%;
              cursor: pointer;
              float: left;
              margin-left: 24px;
              
          }

          &.next{
              display: block;
              background: url('../images/arrow-right.svg') no-repeat;
              //background-size: 50%;
              cursor: pointer;
              float: right;
              margin-left: 24px;
              
          }

          &.paging {
		    text-align: center;
		    width: 100%;
		    height: 0;
		    margin: 0;
		    padding: 0px;
		    margin-top: -36px;
          }

      }
    }
}

