/*=============================================
=        Fullwidth site navigation arrows 	  =
=============================================*/
.page-nav {
	a {
		text-transform: none;
		color: #000;
	}
	@include mg-btm();

	@media (max-width: 768px) {
		font-size: 12px;
	}

}
// Left arrow
.page-nav-prev {
	float: left;



	p {
		float: right;
	    text-transform: uppercase;
	    max-width: 200px;
	    line-height: 22px;
	    letter-spacing: 2pt;
	    position: relative;
		// Text underline
	    &:before {
			content: '';
			position: absolute;
			width: 100%;
			height: 2px;
			bottom: -4px;
			right: 0;
			background-color: #D8D8D8;
	    }
	}
	// Left arrow icon
	&:before {
		content: '';
		background: url('../images/arrow-left.svg') no-repeat;
		position: relative;
		float: left;
	    width: 47px;
	    height: 47px;
	    top: 0;
	    margin-right: 20px;

	}
}
// Right arrow
.page-nav-next {
	float: right;
	p {
		float: left;
	    text-transform: uppercase;
	    max-width: 190px;
	    line-height: 22px;
	    letter-spacing: 2pt;
	    position: relative;
		// Text underline
	    &:before {
			content: '';
			position: absolute;
			width: 100%;
			height: 2px;
			bottom: -4px;
			right: 0;
			background-color: #D8D8D8;
	    }
	}
	// Right arrow icon
	&:after {
		content: '';
		background: url('../images/arrow-right.svg') no-repeat;
		position: relative;
		float: right;
	    width: 47px;
	    height: 47px;
	    top: 0;
	    margin-left: 20px;
	}	

}