/*=============================================
=            	Grid 1				          =
=============================================*/
.c-grid_1 {
	@include mg-btm();


	.c-grid_1-container {
	  display: grid;
	  text-align: center;
	  grid-gap: 30px;



		.grid-item {
			background-size: cover;
		    background-position: center;
		    max-height: 100%;
		    height: 25vh;
		    position: relative;
		}

		@media (min-width: 768px) {
			margin-right: 24px;
			grid-template-columns: 50% 50%;
		  	 .item1 {
				  //grid-row: 1 / 3;
				  height: 100%;
			}
		}


		.c-grid_1-button {
			//height: 52px;
			border-color: #FFF;
			color: #FFF;
			position: absolute;
			transform: translate(-50%, -50%);
		    top: 50%;
		    left: 50%;

		    &:hover{
		    	 box-shadow:  0 0 10px 5px rgba(0,0,0,0.5);
		    	 background-color: rgba(255, 255, 255, 0.4);

		    }


		}
	}
}


