
/*=============================================
=            	Grid 2			          =
=============================================*/
// Title
.c-grid_2-title {
	max-width: 550px;
	left: 480px;
    position: absolute;
	h2 {
		// font-size: 64px;
		// line-height: 64px;
	}
	@media (max-width: 1281px){
        position: relative;
        left: 0;
    }
    @media (min-width: 960px){
       left: 75px;
    }
    @media (min-width: 1024px){
       left: 100px;
    }
    @media (min-width: 1280px){
    	left: 100px;
    }
    @media (min-width: 1440px){
        left: 150px;
    }
    @media (min-width: 1540px){
    	position: static;
    	margin-left: -300px;
    	margin-bottom: -100px;
    }
}
// Grid
.c-grid_2 {

	@include mg-btm();
	background-color: #FFF;
	padding: 100px;
	-webkit-box-shadow: 10px 14px 24px 0px rgba(180,180,180,1);
	-moz-box-shadow: 10px 14px 24px 0px rgba(180,180,180,1);
	box-shadow: 10px 14px 24px 0px rgba(180,180,180,1);

	@media (max-width: 760px){
       padding: 24px;
    }

	.c-grid_2-container {
		@media (max-width: 480px){
			grid-template-columns: auto !important;
	    }
		@media (max-width: 860px){
			grid-template-columns: auto auto;
	    }

		display: grid;
		text-align: center;
		grid-gap: 30px;
		grid-template-columns: auto auto auto;
		grid-column: span 1;
		// Grid case
		.grid-item {
			background-size: cover;
		    background-position: center;
		    max-height: 100%;
		    width: 100%;
		    position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			text-align: center;
			@media (max-width: 1024px){
		    	padding: 0;
		    }
		    .item-content {
				display: flex;
				justify-content: center;
				flex-direction: column;
				text-align: center;
		    }
		}

		.c-grid_2-text {
			padding: 20px;
		    text-transform: uppercase;
		    font-size: 14px;
		}

	}
}


