{% extends '_pages/site' %}
{% block content %}   
{% include '_components/contents/_block_3.html' with { title: 0, button: 0, type: 2 } %}


<div class="page-nav o-wrapper">
<a href="{% if craft.locale == 'fr-CA' %}{{siteUrl}}produits-et-services/ {% else %} {{siteUrl}}products-and-services/{% endif %}"><div class="page-nav-prev"><p>{{'Return to products'|t}}</p></div></a> 
<a href="{% if craft.locale == 'fr-CA' %}{{siteUrl}}nous-joindre/ {% else %} {{siteUrl}}contact-us/{% endif %}"><div class="page-nav-next"><p>{{'Contact our sales team'|t}}</p></div></a> 
</div>




{% endblock %}



