<!DOCTYPE html>
<html lang="{{craft.locale}}">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />
    <link rel="stylesheet" type="text/css" href="{{ craft.app.sites.primarySite.baseUrl }}/assets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,700|Karla:400,700|Montserrat:400,600&display=swap" rel="stylesheet">



   
</head>
<body>
	<header>
		{% if entry is defined %}
    	{% if (entry.type == 'home') %}
		{% include '_components/layout/_header_1.html' %}
		{% elseif (entry.type == 'productList') %} 
		{% include '_components/layout/_header_2.html' with { type: 2 } %}
		{% elseif (entry.type == 'careerList') %} 
		{% include '_components/layout/_header_2.html' with { type: 3 } %}
		{% else %}
		{% include '_components/layout/_header_2.html' with { type: 1 } %}
		{% endif %}
		{% include '_components/layout/_menu.html' %}
    	{% endif %}
	</header>

<main>
	 {% block content %}{% endblock %}   

</main>


<footer>
	{% include '_components/layout/_footer.html' %}
</footer>

</body>


 <script defer src="{{ craft.app.sites.primarySite.baseUrl }}/assets/js/scripts.js"></script>
 


</html>