{% for entry in craft.entries
	.section("career")
	.all()
	%}
	
{% set list = entry.grid2.all() %}


<div class="o-wrapper">
	<div class="c-grid_2">
		
		<div class="c-grid_2-title"><h2> {{'Competitive advantages'|t}} </h2></div>
			<div class="c-grid_2-container">

			{% for item in list %}
			{% if image is defined %} {% set image = item.grid2BlockImage.one().url() %}
			{% else %} {% set image = '' %}
			{% endif %}

	    	{% set title = item.grid2BlockTitle %}

				<div class="grid-item item{{loop.index}}" >
					{# {% if image is defined %} <svg src="{{image}}"></svg> {% endif %} #}
					<div class="item-content">
							<img src="{{image}}"></img>
							<p class="c-grid_2-text"> {{title}} </p>
					</div>
				</div>
				{% endfor %}
		</div>
	</div>
</div>





{% endfor %}