{% set link1 = entry.grid1Link1 %}
{% set link2 = entry.grid1Link2 %}
{% set link3 = entry.grid1Link3 %}
{% set image1 = entry.grid1Image1.one.url() %}
{% set image2 = entry.grid1Image2.one.url() %}
{% set image3 = entry.grid1Image3.one.url() %}


<div class="c-grid_1">
	<div class="o-wrapper">
		<div class="c-grid_1-container">
			<div class="grid-item item1"  style="background: url('{{image1}}');background-size: cover;background-position: center;max-height: 100%;">
				<a target="{{link1.target}}" href="{{link1.url()}}"><button class="c-grid_1-button"> {{link1.text}} </button></a> 
					
			</div>
			<div class="grid-item"  style="background: url('{{image2}}');background-size: cover;background-position: center;max-height: 100%;">
				<a target="{{link2.target}}" href="{{link2.url()}}"><button class="c-grid_1-button"> {{link2.text}} </button></a> 
			</div>
{# 			<div class="grid-item"  style="background: url('{{image3}}');background-size: cover;background-position: center;max-height: 100%;">
				<a target="{{link3.target}}" href="{{link3.url()}}"><button class="c-grid_1-button"> {{link3.text}} </button></a> 
			</div> #}
		</div>
	</div>
</div>