/*=============================================
=             Map & Contact block             =
=============================================*/
 /* Map section */
.c-map {
    text-align: left;
    @include section-padding;
    padding-left: 0 !important;
    padding-right: 0 !important;


}


/* -- ContactUs page; Contact informations box: adress, phone, fax, email, business hours -- */
.c-contact {
    display: flex;
    position: relative;

    display: flex;
    flex-direction: column;
    max-width: 720px;

    margin-top: 24px;


    @media (max-width: 480px){
        padding: 0;
    }
    @media (min-width: 600px){
        padding: 20px;
        -webkit-box-shadow: 10px 14px 24px 0px #b4b4b4;
        box-shadow: 10px 14px 24px 0px #b4b4b4;
        background: #FFF;
    }
    @media (min-width: 720px){
        padding: 40px;
  
    }
    @media (min-width: 840px){
        padding: 80px;
        float: right;
        margin-top: -250px;
    }


    h3 {
        letter-spacing: 2px;
        text-transform: none;
        font-weight: normal;
    }

    .o-layout--equal-height {
        margin: 50px 0 80px 0;

        @media (max-width: 600px){
            margin: 0;
            margin-bottom: 24px;
        }
    }

    .o-layout__item {
        padding-left: 0;

        p { 
            margin-bottom: 10px;
            line-height: 24px;
         }

         @media (max-width: 600px){
         
            margin-bottom: 24px;
        }
    }



}


/* --ContactUs page; google map style-- */
#google-map {
    @media (min-width: 320px){
    height: 350px !important; 
    width: 100% !important;
    } 
    @media (min-width: 400px){
    height: 400px !important;
  
    }
    @media (min-width: 480px){
    height: 500px !important;
  
    }
    @media (min-width: 600px){
    height: 500px !important;

    }
    @media (min-width: 720px){
    height: 525px !important;
  
    }
    @media (min-width: 1078px){
    height: 525px !important;
   }
} 


body {
    overflow-x: hidden;
 }
