/* ==========================================================================
   #HEADINGS
   ========================================================================== */

/**
 * Simple default styles for headings 1 through 6. Anything more opinionated
 * than simple font-size changes should likely be applied via classes (see:
 * http://csswizardry.com/2016/02/managing-typography-on-large-apps/).
 */

// We have all of our heading font sizes defined here. Passing these pixel
// values into our `inuit-font-size()` mixin will generate a rem-based
// `font-size` with a pixel fallback, as well as generating a `line-height` that
// will sit on our baseline grid.

$inuit-font-size-h1:  36px !default;
$inuit-font-size-h2:  28px !default;
$inuit-font-size-h3:  24px !default;
$inuit-font-size-h4:  20px !default;
$inuit-font-size-h5:  18px !default;
$inuit-font-size-h6:  16px !default;

h1 {
   font-family: 'Montserrat';

    @media (min-width: 320px){
       font-size: 36px;
    } 
    @media (min-width: 400px){
       font-size: 36px;
    }
   @media (min-width: 480px){
       font-size: 40px;
    }
    @media (min-width: 600px){
       font-size: 44px;
    }
    @media (min-width: 720px){
       font-size: 48px;
    }
    @media (min-width: 840px){
       font-size: 52px;
    }
    @media (min-width: 960px){
       font-size: 56px;
    }
    @media (min-width: 1024px){
       font-size: 60px;
    }
    @media (min-width: 1280px){
        font-size: 74px;
    }
}

h2 {
    font-family: "Open Sans";
    font-weight: bold;
    line-height: 36px;

    @media (min-width: 320px){
       font-size: 26px;
      letter-spacing: 1px;
    } 
    @media (min-width: 400px){
       font-size: 27px;
       letter-spacing: 1px;
    }
   @media (min-width: 480px){
       font-size: 29px;
       letter-spacing: 1px;
    }
    @media (min-width: 600px){
       font-size: 29px;
       letter-spacing: 1px;
    }
    @media (min-width: 720px){
       font-size: 29px;
       letter-spacing: 4px;
    }
    @media (min-width: 840px){
       font-size: 30px;
       letter-spacing: 5px;
    }
    @media (min-width: 960px){
       font-size: 30px;
       letter-spacing: 5px;
    }
    @media (min-width: 1024px){
       font-size: 30px;
       letter-spacing: 5px;
    }
    @media (min-width: 1280px){
        font-size: 31px;
        letter-spacing: 5px;
    }
}

.c-grid_2-title h2 {

    line-height: 36px;
    font-family: "Open Sans";
    font-weight: bold;

    @media (min-width: 320px){
       font-size: 26px;
      letter-spacing: 1px;
       line-height: 36px;
    } 
    @media (min-width: 400px){
       font-size: 27px;
       letter-spacing: 1px;
           line-height: 36px;
    }
   @media (min-width: 480px){
       font-size: 29px;
       letter-spacing: 1px;
         line-height: 36px;
    }
    @media (min-width: 600px){
       font-size: 30px;
       letter-spacing: 1px;
          line-height: 36px;
    }
    @media (min-width: 720px){
       font-size: 35px;
       letter-spacing: 2px;
           line-height: 36px;
    }
    @media (min-width: 840px){
       font-size: 40px;
       letter-spacing: 3px;
       line-height: 40px;
    }
    @media (min-width: 960px){
       font-size: 45px;
       letter-spacing: 4px;
       line-height: 45px;
    }
    @media (min-width: 1024px){
       font-size: 50px;
       letter-spacing: 5px;
       line-height: 50px;
    }
    @media (min-width: 1280px){
        font-size: 55px;
        letter-spacing: 6px;
        line-height: 55px;
    }
    @media (min-width: 1440px){
        font-size: 64px;
        line-height: 64px;
    }

}
.o-wrapper_header .c-banner-text_content-test h3 {
  text-transform: capitalize !important;
}
h3 {
  @include inuit-font-size($inuit-font-size-h3);
    text-transform: uppercase;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 4px;
    font-family: "Open Sans";


}

h4 {
  @include inuit-font-size($inuit-font-size-h4);
}

h5 {
  @include inuit-font-size($inuit-font-size-h5);
}

h6 {
  @include inuit-font-size($inuit-font-size-h6);
}
