/*=============================================
=               Form                         =
=============================================*/
/* -- Section form -- */
.c-form-container {
    @include mg-btm();
}
.c-form {

    background-color: #FFF;
    padding: 125px;
    @media (max-width: 500px) {
        padding: 0;
        background-color: unset;
    }
    @media (min-width: 501px) and (max-width: 960px) {
        padding: 75px;
    }
}
.c-form-header {
    text-align: center;
    margin: 0 auto 75px;
    @media (max-width: 500px) {
        margin: 50px auto;
    }

    p { max-width: 570px; }

    &.address {
        margin-top: 48px;
        max-width: 200px;
    }
}


/* --application form-- */
form {
    input[type="text"],input[type="email"],input[type="tel"],textarea,.c-file-upload, select {
        width: 100%;
        border: 1px solid #2A2A2A;
        padding: 10px;
        margin-bottom: 16px;
        font-family: $ftOpenSans;
         resize: none;
    }
    input[type="text"],input[type="email"],input[type="tel"],.c-file-upload, select {
        height: 56px
    }
    input[type="submit"] {
        height: 52px;
        width: 179px;
        float: right;
        border: 2px solid rgba(29, 29, 27, 0.77);
        background-color: transparent;
        padding: 15px;
        color: #1D1D1B;
        text-transform: uppercase;
        cursor: pointer;
        transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
        // Text
        color: #1D1D1B;
        text-decoration: none;
        text-transform: uppercase;
        font-family: "Karla";
        font-weight: 300;
        letter-spacing: 3px;
        font-size: 16px;

         &:hover{
             background-color: rgba(29, 29, 27, 0.77);
             color: #FFF;
              a { color: #D8D8D8; }
         }
    }
    button, input {
        //font-family: $ftOpenSans;
        font-size: 20px;
        line-height: 1.15;
        margin: 0;
    }
    select {
        font-style: italic;
    }


    .c-file-upload {
        font-style: italic;
        background-color: white;

        .c-file-select {
            display: block;
            cursor: pointer;
            text-align: left;
            overflow: hidden;
            position: relative;

            &.c-file-select-disabled {
                opacity: 0.65;  

                &:hover {
                    cursor: default;
                    display: block;
                    border: 2px solid #dce4ec;
                    color: #34495e;
                    cursor: pointer;
                    height: 40px;
                    line-height: 40px;
                    margin-top: 5px;
                    text-align: left;
                    background: #ffffff;
                    overflow: hidden;
                    position: relative;
                }
            }

            input[type="file"] {
                z-index: 100;
                cursor: pointer;
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                opacity: 0;
                filter: alpha(opacity=0);
            }


            .c-file-select-name {
                line-height: 34px;
                display: inline-block;
            }

            .c-file-select-button {
                display: inline-block;
                line-height: 60px;
                float: right;
                //height: 22px;
                top: 0;
                margin-top: -9px;
                padding-right: 16px;
            }
        }
    }
}
label.error {
    margin-top: -13px;
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    color: #dc3545;
}
/*=============================================
=              Alert on submit                =
=============================================*/
/* Green alert box-- */
.alert {
    padding: 20px;
    background-color: rgba(29, 29, 27, 0.77);
    color: white;
    width: 100%;
    margin: auto;
    display: none; 
    font-family: 'Open Sans'
}
// Alert bar X button
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.closebtn:hover {
  color: black;
}