{# Contact us section #} 
<section class="c-map">
    <div class="o-wrapper"> 
       
            {# Google map with marker #} 

            <div  class="u-4/5@portrait-large-tablet">
                <div id="google-map"></div>
            </div>
            
            {# Contact informations: adress, phone, fax, email, business hours #} 
            <div class="c-contact"> 
                <h2> {{'Two service points'|t}} </h2> 
                <div class="o-layout o-layout--equal-height">
                    <div class="o-layout__item  u-1/2@portrait-small-tablet">
                        <h3>{{'Head office'|t}}</h3>             
                        <p>{{info.principalRoad}}</p>
                        <p>{{info.principalCity}}</p>
                        <p>{{info.principalCountry}} {{info.principalPostalCode}}</p> 
                        <p>{{info.principalPhone}}</p>
                    </div>
                    <div class="o-layout__item  u-1/2@portrait-small-tablet">
                        <h3>{{'Sales office'|t}}</h3>             
                        <p>{{info.salesRoad}}</p>
                        <p>{{info.salesCity}}</p>
                        <p>{{info.salesCountry}} {{info.salesPostalCode}}</p> 
                        <p>{{info.salesPhone}}</p>
                    </div>

                </div>
                  <a href="#contact"><button>{{'Contact a member of our team'|t}}</button></a> 
            </div>




    </div>
</section>